html
head
    title Blog
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='css/bootstrap-responsive.css', rel='slylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='js/jquery-1.7.2.js')
    script(type='text/javascript', src='js/bootstrap.js')
  body.container-fluid
    .navbar.navbar-inverse
      .navbar-inner
        a.brand(href='/blog') Blog
        ul.nav
          li
            a(href='/') Home
          li
            a(href='/blog/new') New Post  
    .row-fluid
      ul.thumbnails
        li.span4
        li.span4
          p Welcome To our new site
        li.span4
